*.mov
Exercise Files/01-04/yolo11n-pose.pt
Exercise Files/01-04/runs/pose/predict/image.jpg
Exercise Files/02-02/dataset/test/images/c28c8f88-img-2.jpg
Exercise Files/02-02/dataset/test/images/c28c8f88-img-3.jpg
Exercise Files/02-02/dataset/test/images/c28c8f88-img-6.jpg
Exercise Files/02-02/dataset/test/images/c28c8f88-img-25.jpg
Exercise Files/02-02/dataset/test/images/c28c8f88-img-26.jpg
Exercise Files/02-02/dataset/test/labels/c28c8f88-img-2.txt
Exercise Files/02-02/dataset/test/labels/c28c8f88-img-3.txt
Exercise Files/02-02/dataset/test/labels/c28c8f88-img-6.txt
Exercise Files/02-02/dataset/test/labels/c28c8f88-img-25.txt
Exercise Files/02-02/dataset/test/labels/c28c8f88-img-26.txt
Exercise Files/02-02/dataset/train/images/c28c8f88-img-1.jpg
Exercise Files/02-02/dataset/train/images/c28c8f88-img-4.jpg
Exercise Files/02-02/dataset/train/images/c28c8f88-img-7.jpg
Exercise Files/02-02/dataset/train/images/c28c8f88-img-8.jpg
Exercise Files/02-02/dataset/train/images/c28c8f88-img-9.jpg
Exercise Files/02-02/dataset/train/images/c28c8f88-img-10.jpg
Exercise Files/02-02/dataset/train/images/c28c8f88-img-11.jpg
Exercise Files/02-02/dataset/train/images/c28c8f88-img-12.jpg
Exercise Files/02-02/dataset/train/images/c28c8f88-img-13.jpg
Exercise Files/02-02/dataset/train/images/c28c8f88-img-15.jpg
Exercise Files/02-02/dataset/train/images/c28c8f88-img-16.jpg
Exercise Files/02-02/dataset/train/images/c28c8f88-img-17.jpg
Exercise Files/02-02/dataset/train/images/c28c8f88-img-18.jpg
Exercise Files/02-02/dataset/train/images/c28c8f88-img-20.jpg
Exercise Files/02-02/dataset/train/images/c28c8f88-img-21.jpg
Exercise Files/02-02/dataset/train/images/c28c8f88-img-22.jpg
Exercise Files/02-02/dataset/train/images/c28c8f88-img-23.jpg
Exercise Files/02-02/dataset/train/images/c28c8f88-img-24.jpg
Exercise Files/02-02/dataset/train/labels/c28c8f88-img-1.txt
Exercise Files/02-02/dataset/train/labels/c28c8f88-img-4.txt
Exercise Files/02-02/dataset/train/labels/c28c8f88-img-7.txt
Exercise Files/02-02/dataset/train/labels/c28c8f88-img-8.txt
Exercise Files/02-02/dataset/train/labels/c28c8f88-img-9.txt
Exercise Files/02-02/dataset/train/labels/c28c8f88-img-10.txt
Exercise Files/02-02/dataset/train/labels/c28c8f88-img-11.txt
Exercise Files/02-02/dataset/train/labels/c28c8f88-img-12.txt
Exercise Files/02-02/dataset/train/labels/c28c8f88-img-13.txt
Exercise Files/02-02/dataset/train/labels/c28c8f88-img-15.txt
Exercise Files/02-02/dataset/train/labels/c28c8f88-img-16.txt
Exercise Files/02-02/dataset/train/labels/c28c8f88-img-17.txt
Exercise Files/02-02/dataset/train/labels/c28c8f88-img-18.txt
Exercise Files/02-02/dataset/train/labels/c28c8f88-img-20.txt
Exercise Files/02-02/dataset/train/labels/c28c8f88-img-21.txt
Exercise Files/02-02/dataset/train/labels/c28c8f88-img-22.txt
Exercise Files/02-02/dataset/train/labels/c28c8f88-img-23.txt
Exercise Files/02-02/dataset/train/labels/c28c8f88-img-24.txt
Exercise Files/02-02/dataset/val/images/c28c8f88-img-5.jpg
Exercise Files/02-02/dataset/val/images/c28c8f88-img-14.jpg
Exercise Files/02-02/dataset/val/images/c28c8f88-img-19.jpg
Exercise Files/02-02/dataset/val/labels/c28c8f88-img-5.txt
Exercise Files/02-02/dataset/val/labels/c28c8f88-img-14.txt
Exercise Files/02-02/dataset/val/labels/c28c8f88-img-19.txt
Exercise Files/02-02/export/classes.txt
Exercise Files/02-02/export/notes.json
Exercise Files/02-02/export/images/c28c8f88-img-1.jpg
Exercise Files/02-02/export/images/c28c8f88-img-2.jpg
Exercise Files/02-02/export/images/c28c8f88-img-3.jpg
Exercise Files/02-02/export/images/c28c8f88-img-4.jpg
Exercise Files/02-02/export/images/c28c8f88-img-5.jpg
Exercise Files/02-02/export/images/c28c8f88-img-6.jpg
Exercise Files/02-02/export/images/c28c8f88-img-7.jpg
Exercise Files/02-02/export/images/c28c8f88-img-8.jpg
Exercise Files/02-02/export/images/c28c8f88-img-9.jpg
Exercise Files/02-02/export/images/c28c8f88-img-10.jpg
Exercise Files/02-02/export/images/c28c8f88-img-11.jpg
Exercise Files/02-02/export/images/c28c8f88-img-12.jpg
Exercise Files/02-02/export/images/c28c8f88-img-13.jpg
Exercise Files/02-02/export/images/c28c8f88-img-14.jpg
Exercise Files/02-02/export/images/c28c8f88-img-15.jpg
Exercise Files/02-02/export/images/c28c8f88-img-16.jpg
Exercise Files/02-02/export/images/c28c8f88-img-17.jpg
Exercise Files/02-02/export/images/c28c8f88-img-18.jpg
Exercise Files/02-02/export/images/c28c8f88-img-19.jpg
Exercise Files/02-02/export/images/c28c8f88-img-20.jpg
Exercise Files/02-02/export/images/c28c8f88-img-21.jpg
Exercise Files/02-02/export/images/c28c8f88-img-22.jpg
Exercise Files/02-02/export/images/c28c8f88-img-23.jpg
Exercise Files/02-02/export/images/c28c8f88-img-24.jpg
Exercise Files/02-02/export/images/c28c8f88-img-25.jpg
Exercise Files/02-02/export/images/c28c8f88-img-26.jpg
Exercise Files/02-02/export/labels/c28c8f88-img-1.txt
Exercise Files/02-02/export/labels/c28c8f88-img-2.txt
Exercise Files/02-02/export/labels/c28c8f88-img-3.txt
Exercise Files/02-02/export/labels/c28c8f88-img-4.txt
Exercise Files/02-02/export/labels/c28c8f88-img-5.txt
Exercise Files/02-02/export/labels/c28c8f88-img-6.txt
Exercise Files/02-02/export/labels/c28c8f88-img-7.txt
Exercise Files/02-02/export/labels/c28c8f88-img-8.txt
Exercise Files/02-02/export/labels/c28c8f88-img-9.txt
Exercise Files/02-02/export/labels/c28c8f88-img-10.txt
Exercise Files/02-02/export/labels/c28c8f88-img-11.txt
Exercise Files/02-02/export/labels/c28c8f88-img-12.txt
Exercise Files/02-02/export/labels/c28c8f88-img-13.txt
Exercise Files/02-02/export/labels/c28c8f88-img-14.txt
Exercise Files/02-02/export/labels/c28c8f88-img-15.txt
Exercise Files/02-02/export/labels/c28c8f88-img-16.txt
Exercise Files/02-02/export/labels/c28c8f88-img-17.txt
Exercise Files/02-02/export/labels/c28c8f88-img-18.txt
Exercise Files/02-02/export/labels/c28c8f88-img-19.txt
Exercise Files/02-02/export/labels/c28c8f88-img-20.txt
Exercise Files/02-02/export/labels/c28c8f88-img-21.txt
Exercise Files/02-02/export/labels/c28c8f88-img-22.txt
Exercise Files/02-02/export/labels/c28c8f88-img-23.txt
Exercise Files/02-02/export/labels/c28c8f88-img-24.txt
Exercise Files/02-02/export/labels/c28c8f88-img-25.txt
Exercise Files/02-02/export/labels/c28c8f88-img-26.txt
Exercise Files/03-01/yolo11n-seg.pt
Exercise Files/03-01/yolo11n-seg.torchscript
Exercise Files/03-02/yolo11n.pt
Exercise Files/03-02/dataset/train/labels.cache
Exercise Files/03-02/dataset/val/labels.cache
Exercise Files/03-02/runs/detect/train/args.yaml
Exercise Files/03-02/runs/detect/train/confusion_matrix_normalized.png
Exercise Files/03-02/runs/detect/train/confusion_matrix.png
Exercise Files/03-02/runs/detect/train/F1_curve.png
Exercise Files/03-02/runs/detect/train/labels_correlogram.jpg
Exercise Files/03-02/runs/detect/train/labels.jpg
Exercise Files/03-02/runs/detect/train/P_curve.png
Exercise Files/03-02/runs/detect/train/PR_curve.png
Exercise Files/03-02/runs/detect/train/R_curve.png
Exercise Files/03-02/runs/detect/train/results.csv
Exercise Files/03-02/runs/detect/train/results.png
Exercise Files/03-02/runs/detect/train/train_batch0.jpg
Exercise Files/03-02/runs/detect/train/train_batch1.jpg
Exercise Files/03-02/runs/detect/train/train_batch2.jpg
Exercise Files/03-02/runs/detect/train/train_batch180.jpg
Exercise Files/03-02/runs/detect/train/train_batch181.jpg
Exercise Files/03-02/runs/detect/train/train_batch182.jpg
Exercise Files/03-02/runs/detect/train/val_batch0_labels.jpg
Exercise Files/03-02/runs/detect/train/val_batch0_pred.jpg
Exercise Files/03-02/runs/detect/train/weights/best.pt
Exercise Files/03-02/runs/detect/train/weights/last.pt
Exercise Files/03-02/dataset/val/labels.cache
Exercise Files/03-02/dataset/val/labels.cache
Exercise Files/03-02/runs/detect/train/weights/best.onnx
Exercise Files/03-02/runs/detect/train/weights/best.torchscript
deployAzureMl/.terraform/providers/registry.opentofu.org/azure/azapi/2.9.0/windows_amd64.lock
deployAzureMl/.terraform/providers/registry.opentofu.org/azure/azapi/2.9.0/windows_amd64/terraform-provider-azapi_v2.9.0.exe
deployAzureMl/.terraform/providers/registry.opentofu.org/hashicorp/azurerm/4.67.0/windows_amd64.lock
deployAzureMl/.terraform/providers/registry.opentofu.org/hashicorp/azurerm/4.67.0/windows_amd64/CHANGELOG-v0.md
deployAzureMl/.terraform/providers/registry.opentofu.org/hashicorp/azurerm/4.67.0/windows_amd64/CHANGELOG-v1.md
deployAzureMl/.terraform/providers/registry.opentofu.org/hashicorp/azurerm/4.67.0/windows_amd64/CHANGELOG-v2.md
deployAzureMl/.terraform/providers/registry.opentofu.org/hashicorp/azurerm/4.67.0/windows_amd64/CHANGELOG-v3.md
deployAzureMl/.terraform/providers/registry.opentofu.org/hashicorp/azurerm/4.67.0/windows_amd64/CHANGELOG.md
deployAzureMl/.terraform/providers/registry.opentofu.org/hashicorp/azurerm/4.67.0/windows_amd64/LICENSE
deployAzureMl/.terraform/providers/registry.opentofu.org/hashicorp/azurerm/4.67.0/windows_amd64/README.md
deployAzureMl/.terraform/providers/registry.opentofu.org/hashicorp/azurerm/4.67.0/windows_amd64/terraform-provider-azurerm.exe
deployAzureMl/.terraform/providers/registry.opentofu.org/hashicorp/local/2.8.0/windows_amd64.lock
deployAzureMl/.terraform/providers/registry.opentofu.org/hashicorp/local/2.8.0/windows_amd64/CHANGELOG.md
deployAzureMl/.terraform/providers/registry.opentofu.org/hashicorp/local/2.8.0/windows_amd64/LICENSE
deployAzureMl/.terraform/providers/registry.opentofu.org/hashicorp/local/2.8.0/windows_amd64/README.md
deployAzureMl/.terraform/providers/registry.opentofu.org/hashicorp/local/2.8.0/windows_amd64/terraform-provider-local.exe
deployAzureMl/.generated/deployment.yaml
deployAzureMl/terraform.tfstate
deployAzureMl/terraform.tfstate.backup
deployAzureMl/terraform.tfstate.1775323718.backup
deployAzureMl/terraform.tfstate.1775323720.backup
deployAzureMl/terraform.tfstate.1775323721.backup
deployAzureMl/terraform.tfstate.1775323722.backup
deployAzureMl/terraform.tfstate.1775324484.backup
deployAzureMl/terraform.tfstate.1775324485.backup
deployAzureMl/terraform.tfstate.1775324486.backup
deployAzureMl/terraform.tfstate.1775324488.backup
deployAzureMl/terraform.tfstate.1775324835.backup
deployAzureMl/terraform.tfstate.1775324837.backup
deployAzureMl/terraform.tfstate.1775324838.backup
deployAzureMl/terraform.tfstate.1775324839.backup
deployAzureMl/terraform.tfstate.1775325072.backup
deployAzureMl/terraform.tfstate.1775325074.backup
deployAzureMl/terraform.tfstate.1775325075.backup
deployAzureMl/terraform.tfstate.1775327645.backup
deployAzureMl/terraform.tfstate.1775327646.backup
deployAzureMl/terraform.tfstate.1775327647.backup
deployAzureMl/templates/deployment.yaml.tftpl
deployAzureMl/terraform.tfstate.*

deployAzureMl/terraform.tfvars
